<a href="/groups/{{id}}">
    <button>Go back</button>
</a>

<h1>Group {{name}}</h1>

<hr>

<h2>Edit the group:</h2>

<form method="POST" action="/groups/{{id}}/update">
    <p>Name: <input type="text" name="name" value="{{name}}"></p>
    <p>Description: <input type="text" name="description" value="{{description}}"></p>
    <input type="submit" value="Apply changes">
</form>